<div class="min-h-screen bg-gray-100 flex p-4" id="about-page">
  <div class="flex flex-col md:flex-row items-center justify-center">
    <img
      class="developerImage w-full md:w-1/3 lg:w-1/3 mb-8 md:mb-0"
      src="../../assets/images/developer.svg"
      alt="developer-img"
    />
    <div class="about-content mx-4 my-8 md:my-16 md:w-1/2 opacity-0">
      <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-gray-900 mb-4">
        Vanakam 🙏🏼
      </h1>
      <p class="text-base md:text-lg lg:text-xl text-gray-700 leading-relaxed">
        Hello there 👋🏻 I'm Rahul Rajesh, a web developer based in Madurai. I
        have a strong interest in learning new technologies, acquiring new
        skills, and implementing best practices to deliver meaningful
        contributions to projects.
      </p>
    </div>
  </div>
</div>
