<div
  class="min-h-screen bg-gray-100 lg:flex flex-col md:flex-row py-12 justify-center"
  id="skills-page"
>
  <div
    class="flex flex-col items-center justify-center mx-4 md:mx-4 lg:mx-12 md:w-3/4 sm:w-1/2"
  >
    <!-- Tech Stack Section -->
    <section id="tech-stack" class="w-full bg-white py-12 m-2">
      <div class="container mx-auto px-4">
        <h2
          class="text-2xl md:text-3xl font-bold text-gray-900 mb-6 text-center"
        >
          Tech Stack 🛠️
        </h2>
        <div
          class="skills-content grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-4 place-items-center"
        >
          <img
            class="w-20 h-20 rounded-lg hover:scale-105 transition duration-300 transform cursor-pointer"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
            alt="Angular"
          />
          <img
            class="w-20 h-20 rounded-lg hover:scale-105 transition duration-300 transform cursor-pointer"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"
          />
          <img
            class="w-20 h-20 rounded-lg hover:scale-105 transition duration-300 transform cursor-pointer"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg"
          />
          <img
            class="w-20 h-20 rounded-lg hover:scale-105 transition duration-300 transform cursor-pointer"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cypressio/cypressio-original.svg"
          />
          <img
            class="w-20 h-20 rounded-lg hover:scale-105 transition duration-300 transform cursor-pointer"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original-wordmark.svg"
          />
          <img
            class="w-20 h-20 rounded-lg hover:scale-105 transition duration-300 transform cursor-pointer"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg"
          />
          <img
            class="w-20 h-20 rounded-lg hover:scale-105 transition duration-300 transform cursor-pointer"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ionic/ionic-original-wordmark.svg"
          />
          <img
            class="w-20 h-20 rounded-lg hover:scale-105 transition duration-300 transform cursor-pointer"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original-wordmark.svg"
          />
          <img
            class="w-20 h-20 rounded-lg hover:scale-105 transition duration-300 transform cursor-pointer"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
          />
          <img
            class="w-20 h-20 rounded-lg hover:scale-105 transition duration-300 transform cursor-pointer"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jest/jest-plain.svg"
          />
          <img
            class="w-20 h-20 rounded-lg hover:scale-105 transition duration-300 transform cursor-pointer"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-plain-wordmark.svg"
          />
          <img
            class="w-20 h-20 rounded-lg hover:scale-105 transition duration-300 transform cursor-pointer"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
          />
          <!-- Add more images with the same classes -->
        </div>
      </div>
    </section>
    <!-- Achievements Section -->
    <!-- TODO: Add this section in future -->
    <!-- <section id="achievements" class="w-full bg-gray-100 py-12">
      <div class="container mx-auto px-4">
        <h2 class="text-2xl md:text-3xl font-bold text-gray-900 mb-6">
          Achievements 🏆
        </h2>
        
      </div>
    </section> -->
  </div>
</div>
