<div class="min-h-screen bg-gray-100 flex items-center justify-center">
  <div class="md:flex">
    <div class="mx-4 my-16 md:w-1/2">
      <h1 class="text-3xl font-bold text-gray-900 mb-4">Projects 💻</h1>
      <p class="text-gray-700 leading-relaxed">
        I'm Rahul Rajesh, a web developer based in Madurai. I have a strong
        interest in learning new technologies, acquiring new skills, and
        implementing best practices to deliver meaningful contributions to
        projects.
      </p>
    </div>
  </div>
</div>

<!-- Tech Stack -->

<!-- acheivements section -->

<!-- Experince section -->
