<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="p-3 px-6 text-white bg-black">
      <div class="flex justify-between items-center">
        <div class="font-semibold text-blue-400 text-3xl hover:text-blue-700">
          <a href="#">Rahul</a>
        </div>

        <ul class="flex text-xl">
          <li class="mr-5 hover:text-blue-400 active:bg-slate-50">
            <a href="#">About Me</a>
          </li>
          <li class="mr-5 hover:text-blue-400"><a href="#">Works</a></li>
          <li class="mr-5 hover:text-blue-400"><a href="#">Contact</a></li>
        </ul>

        <div>
          <a
            href="https://github.com/Rahul-28"
            target="_blank"
            class="opacity-100 hover:opacity-80"
          >
            <img
              src="../assets/images/github-mark-white.svg"
              alt="git"
              class="w-10 h-10"
            />
          </a>
        </div>
      </div>
    </nav>
  </body>
</html>
