<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Trispace:wght@200&display=swap" rel="stylesheet">
</head>
<div class="navBar">
    <a href="#" id="myName">{{data.name | uppercase}}</a>
    <nav class="nav-items">
        <a href="#" id="about">{{data.about}}</a>
        <a href="#" id="works">{{data.works}}</a>
        <a href="#" id="contact">{{data.contact}}</a>
    </nav>
</div>
<div>
</div>