<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
    <p class="text-3xl font-bold text-gray-800 mb-8">Git Profile</p>
    
    <div class="max-w-md w-full mb-8">
        <div class="bg-white rounded-lg shadow-lg p-6 mb-4">
            <img class="w-48 h-48 rounded-full mx-auto mb-4" [src]="gitProfileData?.avatar_url" alt="avatar-img">
            <p class="text-xl font-bold text-center mb-2"><a class="text-blue-500" [href]="gitProfileData?.html_url">@{{gitProfileData?.login}}</a></p>
            <p class="text-lg text-center text-gray-700 mb-4">{{gitProfileData?.bio}}</p>
            <div class="flex justify-between text-gray-700">
                <p>Followers: {{gitProfileData?.followers}}</p>
                <p>Following: {{gitProfileData?.following}}</p>
                <p>Repos: {{gitProfileData?.public_repos}}</p>
            </div>
        </div>
    </div>

    <p class="text-3xl font-bold text-gray-800 mb-8">Git Repositories</p>
    <div class="max-w-md w-full relative">
        <div class="bg-white rounded-lg shadow-lg p-6 mb-4 h-90 overflow-hidden">
            <div *ngFor="let repo of gitRepoData; let i = index" [class.hidden]="currentIndex !== i">
                <p class="text-lg font-semibold text-gray-800 mb-2">{{repo?.name}}</p>
                <p class="text-sm text-gray-600 mb-4">{{repo?.description}}</p>
                <div class="flex justify-between text-gray-700">
                    <p>Last Updated: {{repo?.updated_at | date}}</p>
                    <a [href]="repo?.html_url" class="text-blue-500" target="_blank">View on GitHub</a>
                </div>
            </div>
        </div>
        <div class="absolute top-1/2 transform -translate-y-1/2 left-0 w-full flex justify-between">
            <button class="py-2 bg-blue-500 text-white rounded-l focus:outline-none" (click)="prevCard()" [disabled]="currentIndex === 0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
                </svg>                  
            </button>
            <button class="py-2 bg-blue-500 text-white rounded-r focus:outline-none" (click)="nextCard()" [disabled]="currentIndex === gitRepoData.length - 1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24" height="24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                </svg>                  
            </button>
        </div>
    </div>
</div>
